* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0c3f66;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li form {
  width: 100%;
  height: 100%;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #145180;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #245275;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(10vh - 40px);
}

/* Footer */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
}
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    max-width: 500px;
    margin: 20px 0;
    padding: 20px;
  }
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  background: white;
  padding-bottom: 100px;
  gap: 10px;
  margin-top: 10px;
  height: 270px;
  max-width: 350px;
  margin: 0 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  grid-template-columns: repeat(3, 1fr);
}
.card .img {
  height: 300%;
  width: 100%;
}
.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text {
  padding: 10px;
}
.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #0c3f66;
  line-height: 20px;
}
.card .top-text p {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #0c3f66;
  line-height: 20px;
}
.card .buttom-text {
  padding: 0 20px 10px 20px;
  margin-top: 10px;
  background: white;
  /* opacity: 0; */
  transition: 0.1s;
  /* visibility: hidden; */
  transition: 0.1s;
}
.card:hover .buttom-text {
  opacity: 1;
  visibility: visible;
}
.card .buttom-text .text {
  text-align: justify;
}
.card .buttom-text .btn {
  margin: 20px 0;
  text-align: left;
}
.card .buttom-text .btn a {
  text-align: justify;
  background: rgb(18, 100, 223);
  padding: 5px 8px;
  border-radius: 4px;
  display: inline-flex;
  transition: 0.2s;
}
.card .buttom-text .btn a:hover {
  transform: scale(0.9);
}

#footer {
    position:absolute;
    text-align: center;
    bottom:0 ;
    padding: 20px;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#0c3f66;
 }
